.ProductItem {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  align-items: center;
  padding: 0px 10px;  
  list-style-type: none;
  border: lightgray solid 1px;
}

.ProductItem button {
  width: 150px;
  height: 50px;
  font-size: 16px;
  background-color: #82b1ff;
}

.ProductItem img {
   width: 110px; 
}

.ProductSpecs {
  list-style-type: none;
  /* width: 200px; */
}

.AddToCart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* width: 200px; */
  height: 100px;
}
