.ProductItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: space-between;*/
  /*justify-content: space-around;*/
  padding: 0px 10px;
  list-style-type: none;
  border: lightgray solid 1px;
}

.ProductItem button {
  width: 200px;
  height: 40px;
  font-size: 16px;
  background-color: #99ff99;
}

.ProductSpecs {
  list-style-type: none;
  width: 200px;
}

.AddToCart {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  width: 200px;
  height: 100px;
  /*margin-right: 20px;*/
}
